# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src

# Ignore local dev server
.localdevserver/

# Python
*.pyc
__pycache__

# Robot Framework results
robot/File-Uploader/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
